
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<style>
html{
background-image:url('https://media.istockphoto.com/vectors/vector-illustration-of-plain-beige-grungy-background-vector-id962839792?k=6&m=962839792&s=612x612&w=0&h=wijc8p9oPEQ2hlXVT4VTtot42uCu4L7A8aTvuE4dRf8=');
background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;

}
table, th, td {
  border: 5px outset black;
  border-collapse: collapse;
  background-color:white;
  padding:15px;
  text-align:center;
}
</style>
</head>

<body>
<h1 align="center">ITEM DETAILS</h1>
<br><br><br><br>
<table align="center"  style="width:75%">
    <tr>
        <th>Sno</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
		<th>Delete</th>
    </tr>
    {% for p in pro %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.price }}</td>
		<td><a href="{% url 'deleteitem' name=p.name  %}">Delete</a></td>

    </tr>
    {% endfor %}
</table>
</body>
</html>